@import helper._

@main("Upload") {
    @form(action = routes.PictureController.newPicture, 'enctype -> "multipart/form-data") {
		<div class="container">
			<form class="form-signin">
        		<h2 class="form-signin-heading">Upload</h2>
        		<label for="file" class="sr-only">Picture</label>
        		<input type="file" id="file" class="form-control" name="file" id="file">
        		<label for="description" class="sr-only">Description</label>
        		<input type="text" id="description" name="description" class="form-control" >
        		<div class="checkbox">
          			<label>
            			<input type="checkbox" name="publicVisible" id="publicVisible" >Public
          			</label>
        		</div>
        		<button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
      		</form>
	    </div>
    }
}
		
	

